aiofiles==0.8.0; python_version >= "3.6" and python_version < "4.0"
anyio==3.4.0; python_full_version >= "3.6.2" and python_version >= "3.6"
anytree==2.8.0
appnope==0.1.2; sys_platform == "darwin" and python_version >= "3.7" and platform_system == "Darwin"
argon2-cffi==21.1.0; python_version >= "3.6"
asgiref==3.4.1; python_version >= "3.6"
attrs==21.2.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
babel==2.9.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
backcall==0.2.0; python_version >= "3.7"
bleach==4.1.0; python_version >= "3.7"
blis==0.7.5; python_version >= "3.6"
catalogue==2.0.6; python_version >= "3.6"
certifi==2021.10.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cffi==1.15.0; implementation_name == "pypy" and python_version >= "3.6"
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
charset-normalizer==2.0.8; python_full_version >= "3.6.0" and python_version >= "3.6"
click==7.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
colorama==0.4.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
cymem==2.0.6; python_version >= "3.6"
debugpy==1.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
decorator==5.1.0; python_version >= "3.7"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
entrypoints==0.3; python_full_version >= "3.6.1" and python_version >= "3.7"
fastapi==0.71.0; python_full_version >= "3.6.1"
h11==0.12.0; python_version >= "3.6"
idna==3.3; python_full_version >= "3.6.2" and python_version >= "3.6"
ipykernel==6.6.0; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.6"
ipython==7.30.0; python_version >= "3.7"
jedi==0.18.1; python_version >= "3.7"
jinja2==3.0.3; python_version >= "3.6"
json5==0.9.6; python_version >= "3.6"
jsonschema==4.2.1; python_version >= "3.7"
jupyter-client==7.1.0; python_full_version >= "3.6.1" and python_version >= "3.7"
jupyter-core==4.9.1; python_full_version >= "3.6.1" and python_version >= "3.7"
jupyter-server==1.12.1; python_version >= "3.6"
jupyterlab-pygments==0.1.2; python_version >= "3.7"
jupyterlab-server==2.8.2; python_version >= "3.6"
jupyterlab==3.2.4; python_version >= "3.6"
langcodes==3.3.0; python_version >= "3.6"
markupsafe==2.0.1; python_version >= "3.6"
matplotlib-inline==0.1.3; python_version >= "3.7"
mistune==0.8.4; python_version >= "3.7"
murmurhash==1.0.6; python_version >= "3.6"
natsort==7.2.0; python_version >= "3.6"
nbclassic==0.3.4; python_version >= "3.6"
nbclient==0.5.9; python_full_version >= "3.6.1" and python_version >= "3.7"
nbconvert==6.3.0; python_version >= "3.7"
nbformat==5.1.3; python_full_version >= "3.6.1" and python_version >= "3.7"
nest-asyncio==1.5.1; python_full_version >= "3.6.1" and python_version >= "3.7"
notebook==6.4.6; python_version >= "3.6"
numpy==1.21.1; python_version >= "3.7"
outputformat==0.1.1; python_version >= "3.6"
packaging==21.3; python_version >= "3.7"
pandocfilters==1.5.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
parso==0.8.3; python_version >= "3.7"
pathy==0.6.1; python_version >= "3.6"
pdfminer.six==20200517; python_version >= "3.6"
pdfplumber==0.5.28; python_version >= "3.6"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.7"
pillow==8.4.0; python_version >= "3.6"
preshed==3.0.6; python_version >= "3.6"
prometheus-client==0.12.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
prompt-toolkit==3.0.23; python_full_version >= "3.6.2" and python_version >= "3.7"
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.7" and os_name != "nt"
py==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.6" and python_full_version >= "3.5.0"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pycryptodome==3.11.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pydantic==1.8.2; python_full_version >= "3.6.1" and python_version >= "3.6"
pygments==2.10.0; python_version >= "3.7"
pyparsing==3.0.6; python_version >= "3.6"
pyrsistent==0.18.0; python_version >= "3.7"
python-dateutil==2.8.2; python_full_version >= "3.6.1" and python_version >= "3.6"
python-multipart==0.0.5
pytz==2021.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pywin32==302; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.6"
pywinpty==1.1.6; os_name == "nt" and python_version >= "3.6"
pyzmq==22.3.0; python_full_version >= "3.6.1" and python_version >= "3.6"
regex==2021.11.10
requests==2.26.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
send2trash==1.8.0; python_version >= "3.6"
six==1.16.0; python_full_version >= "3.6.1" and python_version >= "3.6" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7")
smart-open==5.2.1; python_version >= "3.6" and python_version < "4.0"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
sortedcontainers==2.4.0; python_version >= "3.6"
spacy-legacy==3.0.8; python_version >= "3.6"
spacy-loggers==1.0.1; python_version >= "3.6"
spacy==3.2.0; python_version >= "3.6"
srsly==2.4.2; python_version >= "3.6"
starlette==0.17.1; python_version >= "3.6" and python_full_version >= "3.6.1"
terminado==0.12.1; python_version >= "3.6"
testpath==0.5.0; python_version >= "3.7"
thinc==8.0.13; python_version >= "3.6"
tornado==6.1; python_full_version >= "3.6.1" and python_version >= "3.7"
tqdm==4.62.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
traitlets==5.1.1; python_full_version >= "3.6.1" and python_version >= "3.7"
typer==0.4.0; python_version >= "3.6"
typing-extensions==4.0.1; python_full_version >= "3.6.1" and python_version >= "3.6"
urllib3==1.26.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
uvicorn==0.16.0
wand==0.6.7; python_version >= "3.6"
wasabi==0.8.2; python_version >= "3.6"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.7"
webencodings==0.5.1; python_version >= "3.7"
websocket-client==1.2.1; python_version >= "3.6"
