<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Law In Progress</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('css', path='/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('css', path='/style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('imgs', path='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('imgs', path='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('imgs', path='/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('imgs', path='/site.webmanifest') }}">
    <script src="https://use.fontawesome.com/b6e2d20fed.js"></script>
  </head>
  <body>
    <section class="section">
    <div class="container">
      <div class="notification is-primary is-danger is-light">
	 <center>
      <img src="{{ url_for('imgs', path='/Logo_no_bg.png') }}" alt="Law in Progress" width="500">
	    <h1 class="title">Something went wrong</h1>
	 </center>
      </div>
    </div>
    </section>
  </body>
</html>
