<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Law In Progress</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="icon" type="image/x-icon" href="/imgs/favicon-32x32.png">
  </head>
  <body>
    <section class="section">
    <div class="container">
      <div class="notification is-primary is-danger is-light">
	 <center>
	    <img src="imgs/lip_logo.png" alt="Law in Progress" width="500">
	    <h1 class="title">Something went wrong</h1>
	 </center>
      </div>
    </div>
    </section>
  </body>
</html>
