<!DOCTYPE html>
<html lang="de">

<head>
  <title>Law In Progress | App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('css', path='/bulma.css') }}">
  <link rel="stylesheet" href="{{ url_for('css', path='/style.css') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('imgs', path='/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('imgs', path='/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('imgs', path='/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('imgs', path='/site.webmanifest') }}">
  <script src="https://use.fontawesome.com/b6e2d20fed.js"></script>
</head>

<body>
  <section class="hero">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <header class="navbar">
        <div class="container">
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <span class="navbar-item">
                <div class="buttons">
                  <a class="button is-dark has-background-grey-dark" href="mailto: bug@lawinprogress.de">
                    <span class="icon">
                      <i class="fa fa-bug"></i>
                    </span>
                    <span>Report a bug</span>
                  </a>
                  <a class="button is-dark has-background-grey-dark" href="https://gitlab.com/nototast/lawinprogress"
                    target="_blank">
                    <span class="icon">
                      <i class="fa fa-gitlab"></i>
                    </span>
                    <span>Source Code</span>
                  </a>
                </div>
              </span>
            </div>
          </div>
        </div>
      </header>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <img src="{{ url_for('imgs', path='/Logo_no_bg.png') }}" alt="Law in Progress" width="500">
        <p class="title">
        </p>
      </div>
    </div>
    <div class="hero-body">
      <div class="container is-max-desktop">
        <article class="message">
          <div class="message-header">
            <p>{{ result }}</p>
          </div>
          <div class="message-body content">
            <center>
              <form method="post" enctype="multipart/form-data"
                onsubmit="document.getElementById('upload-button').className += ' ' + 'is-loading'">
                <input class="button" type="file" name="change_law_pdf" value="" required
                  oninvalid="this.setCustomValidity('Wähle bitte ein PDF aus.')" />
                <button class="button is-dark has-background-grey-dark" id="upload-button" type="submit"
                  value="Hochladen">Hochladen</button>
              </form>
            </center>
            <hr>
            <p><strong>Aktuelle Beispiel-PDFs:</strong></p>
            <ul>
              <li><a target="_blank" href="https://dserver.bundestag.de/btd/20/002/2000275.pdf"
                  title="Gesetz zur Änderung des Infektionsschutzgesetzes">Gesetz zur Änderung des
                  Infektionsschutzgesetzes</a></li>
              <li><a target="_blank" href="https://dserver.bundestag.de/brd/2022/0010-22(neu).pdf" title="Entwurf eines Gesetzes zur Beförderung des Tierwohls in der
                  landwirtschaftlichen Nutztierhaltung">Entwurf eines Gesetzes zur Beförderung des Tierwohls in der
                  landwirtschaftlichen Nutztierhaltung</a></li>
            </ul>
          </div>
        </article>
      </div>
      <div class="container is-max-desktop">
        <article class="message">
          <div class="message-header">
            <p>Gefördert von</p>
          </div>
          <div class="message-body content has-text-centered">
            <a href="https://prototypefund.de/en/project/law-in-progress/" target="_blank"
              rel="noopener noreferrer"><object alt="prototype fund logo" class="responsive"
                data="{{ url_for('imgs', path='/pf_funding_logos.svg') }}" width="364" height="105"> </object></a>
          </div>
        </article>
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs is-fullwidth">
        <div class="container">
          <ul>
            <li><a>made with &#x1F49A;, python and bulma by Tobias Sterbak & Noa Tamir</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</body>

</html>