<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Law In Progress</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">-->
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/imgs/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/imgs/favicon-16x16.png">
    <link rel="manifest" href="/imgs/site.webmanifest">
  </head>
  <body>
    <section class="section">
    <div class="container">
      <div class="is-primary notification is-light">
	    <center>
	    <img src="imgs/lip_logo.png" alt="Law in Progress" width="500">
        <article class="message">
          <div class="message-body">
              <p>Das Online-Tool "Law in Progress" macht Gesetzentwürfe und deren Konsequenzen für bestehende Gesetze durch automatische Erstellung einer Synopse sichtbar und nachvollziehbar.</p>
              <hr>
              <p><b>Akutelle Beispiel-PDFs:</b></p>
              <div class="content">
              <ul>
                  <li><a target="_blank" href="https://dserver.bundestag.de/btd/20/002/2000275.pdf" title="Gesetz zur Änderung des Infektionsschutzgesetzes">Gesetz zur Änderung des Infektionsschutzgesetzes</a></li>
                  <li><a target="_blank" href="https://dserver.bundestag.de/brd/2022/0010-22(neu).pdf" title="Entwurf eines Gesetzes zur Beförderung des Tierwohls in der
                    landwirtschaftlichen Nutztierhaltung">Entwurf eines Gesetzes zur Beförderung des Tierwohls in der
                    landwirtschaftlichen Nutztierhaltung</a></li>
              </ul>
              </div>
          </div>
        </article>
        <br>
	    <h2 class="subtitle">{{ result }}</h2>
	    <form method="post" enctype="multipart/form-data">
	    	<input class="button" type="file" name="change_law_pdf" value=""/>
            <button class="button is-primary" id="upload-button" type="submit" value="Hochladen" onclick="this.className += ' ' + 'is-loading'">Hochladen</button>
	    </form>
        <hr>
        <img src="imgs/logo_prototypefund.png" alt="Prototype Fund Logo" width="200">
        <img src="imgs/BMBF_gefoerdert_2021_en.png" alt="BMBF Logo" width="200">
	    </center>
      </div>
    </div>
    </section>
  </body>
</html>
