<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Law In Progress</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <center>
    <h1 class="title">Law in Progress</h1>
    <h2 class="subtitle">{{ result }}</h2>
    <form method="post" enctype="multipart/form-data">
    	<input class="button" type="file" name="change_law_pdf" value=""/>
        <input class="button" type="submit" value="Upload">
    </form>
    </center>
  </body>
</html>
