@font-face {
  font-family: MerriweatherSans;
  src: url(MerriweatherSans-Medium.ttf);
}
/* classes to style the tabs on the left  */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {font-family: MerriweatherSans;}

/* Style the tab content */
.tabcontent {
  float: left;
  width: 100%;
  border-left: none;
  height: 55vh;
}

.scrollable {
  overflow: auto;
  float: left;
  border-left: none;
  height: 55vh;
}

/* classes to style the presentation of the diff */

.diff-layout {
  padding: 0px;
  display: grid;
  /*grid-template-columns: auto auto auto;*/
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.span-remove {
  background: #EF7B87;
  border-radius: 3px;
  padding: 1px;
}

.remove-bg {
  background: #ffcbbd;/*#FFC2C8;*/
  padding: 2px;
}

.span-add {
  background: #2ea769;/*#27C43E;*/
  border-radius: 3px;
  padding: 1px;
}

.add-bg {
  background: #c8f0da;/*#90F39F;*/
  padding: 2px;
}

.change-bg {
  background: #F0EDE6;
  padding: 2px;
}