/* classes to style the tabs on the left  */

* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab content */
.tabcontent {
  float: left;
  border: 0px solid #6D696A;
  width: 100%;
  border-left: none;
  height: 55vh;
}

.scrollable {
  overflow: auto;
  float: left;
  border-left: none;
  padding: 3px 12px;
  height: 55vh;
}

/* classes to style the presentation of the diff */

.diff-layout {
  padding: 0px;
  display: grid;
  /*grid-template-columns: auto auto auto;*/
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  font-family:DejaVu Sans Mono;
}

.span-remove {
  background: #EF7B87;
  border-radius: 3px;
  padding: 1px;
}

.remove-bg {
  background: #FFC2C8;
  padding: 2px;
}

.span-add {
  background: #27C43E;
  border-radius: 3px;
  padding: 1px;
}

.add-bg {
  background: #90F39F;
  padding: 2px;
}

.change-bg {
  background: #F0EDE6;
  padding: 2px;
}